services:
    db:
      image: postgres:12-alpine
      volumes:
        - pgdata:/var/lib/postgresql/data
      expose:
        - 5432
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: bot

    bot:
      image: yanakarausheva/telegramlistener:latest
      env_file: .env
      restart: unless-stopped
      volumes:
        - .:/app
      depends_on:
        - db

      environment:
        POSTGRES_HOST: db
        POSTGRES_PORT: 5432
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: bot

volumes:
  pgdata:
