API_ID=
API_HASH=

BOT_NAME=
BOT_TOKEN=

CLIENT_SESSION=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bot_db

REDIS_HOST=localhost
REDIS_PORT=6379