[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ruff = "~=0.9.1"
mypy = "==1.1.1"
pytest = "==7.4.0"
pytest-asyncio = "==0.20.3"
pytest-async-sqlalchemy = "==0.2.0"
pre-commit = "==2.21.0"

[packages]
telethon = "~=1.37.0"
asyncpg = "~=0.29.0"
aiolimiter = "==1.0.0"
alembic = "==1.9.1"
openai = "~=1.59.0"
SQLAlchemy = {version = "~=2.0.36", extras = ["asyncio"]}
sqlalchemy-file = "~=0.6.0"
sqlalchemy-utils = "~=0.41.2"
apache-libcloud = "~=3.8.0"
fasteners = "~=0.20"
pydantic = "==2.3.0"
python-dotenv = "==1.0"

[requires]
python_version = "3.12"