name: Telegram listener bot

on: [push]

jobs:
  build:
      name: Push Docker image to Docker Hub
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/master'
      steps:
        - name: Check out the repo
          uses: actions/checkout@v5
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: yanakarausheva/telegramlistener:latest
