name: Telegram listener bot

on: [push]

jobs:
  build:
      name: Push Docker image to Docker Hub
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/master'
      steps:
        - name: Check out the repo
          uses: actions/checkout@v5
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Login to Docker
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            push: true
            tags: yanakarausheva/telegramlistener:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd bot
            sudo docker pull yanakarausheva/telegramlistener:latest
            sudo docker-compose stop
            sudo docker-compose rm bot
            sudo touch .env
            echo API_ID=${{ secrets.API_ID }} >> .env
            echo API_HASH=${{ secrets.API_HASH }} >> .env
            echo BOT_NAME=${{ secrets.BOT_NAME }} >> .env
            echo BOT_TOKEN=${{ secrets.BOT_TOKEN }} >> .env
            echo CLIENT_SESSION=${{ secrets.CLIENT_SESSION }} >> .env
            echo OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }} >> .env
            echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
            echo POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} >> .env
            echo POSTGRES_PORT=${{ secrets.POSTGRES_PORT }} >> .env
            sudo docker-compose up -d